*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    /* overflow: hidden; */
}
body{
    width: 100%;
    height: 100%;
    background-color: bisque;
}
#heading{
    width: 100%;
    height: 8vh;
    border:none;
    text-align: center;
    padding: 16px;
    background-color: rgb(21, 21, 41);
    color: white;
    font-size: 20.8px;
}

.container{
    margin-top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.images{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 16px;
    margin: 8px;
    padding: 5px;
}
img{
    width: 128px;
    margin:10px;
    border-radius: 40px;
}
img:hover{
    border: 3px solid black;
    border-radius:48px;
}
.counter{
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
    margin: 64px;
}
.you p{
    font-weight: 800;
    font-size: 24px;
}
.computer p{
    font-weight: 800;
    font-size: 24px;
}
.value{
    text-align: center;
    font-size:32px ;
    font-weight: 600;
}
.result{
    text-align: center;
    margin: 32px;
    padding: 8px;
    font-size: 24px;
    border: none;
    border-radius: 7px;
    background-color:burlywood;
}